@import "tailwindcss";

@layer base {
  :root {
      @apply box-border;
  }

  body {
      @apply font-mono text-2xl flex flex-col justify-center items-center h-screen overflow-hidden;
  }
}

body {
    background: whitesmoke;
}

#text-container {
    width: 800px;
    height: auto; /* Adjust height dynamically based on content */
    margin: 20px auto;
    line-height: 2rem;
    white-space: nowrap;
    background: white;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden; /* Hide overflowing text */
    display: flex;
    align-items: center;
    position: relative; /* Positioning context for text scroll */
    cursor: none;
}

#timer {
    font-size: 1.2rem;
}

button {
    width: 150px;
    background: rgb(43, 43, 43);
    color: white;
    border: none;
    font-size: 1.2rem;
}

span {
    min-width: 14px;
}

.correct {
    color: green;
}

.error {
    color: red;
}

